:root{
  --background : #373;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

main{
  display: flex;
  width: 100%;
  padding: 1.3em;
  justify-content: center;
}

section{
  display: flex;
  flex-direction: column;
  padding: 1.3em;
}

section div{
  margin: .3em 0;
}

canvas{
  border: 1px solid #333;
}

h1, h3{
  color: #373;
  font-family: sans-serif;
}

h3{
  margin: .6em 0;
}

.hidden{
  display: none;
}

button {
  font-size: 1em;
  padding: .5em;
  border: none;
  background: var(--background);
  color: #fff;
  font-weight: bold;
  display: inline-block;
  margin-top: 1em;
  cursor: pointer;
}

button#scale{
  background: purple;
  width: 100%;
}

button#save{
  background: rgb(165, 124, 131);
}